*{
    background-color:  rgb(137, 79, 192);
    color: rgb(226, 240, 140);
    margin: 10px;
    font-family: 'Jost', sans-serif;
    border-radius: 20px;
    text-shadow: 3px 3px 2px rgb(109, 14, 146); 
    
}


.cuerpoRecomendaciones{
    display: grid;
    font-size: 20px;
    grid-template-columns: 350px auto;
    grid-column-gap: 25px;
    text-align: justify;

}

.portadapelicula1{
    width: 100%;
}
.portadapelicula1:hover{
    filter: saturate(180%);
    filter: opacity(.5);
    transition:all .5s ease-in-out;

}



.portadapelicula2{
    width: 100%;
}
.portadapelicula2:hover{
    filter: saturate(180%);
    filter: opacity(.5);
    transition:all .5s ease-in-out;

}




.portadapelicula3{
    width: 100%;
}
.portadapelicula3:hover{
    filter: saturate(180%);
    filter: opacity(.5);
    transition:all .5s ease-in-out;
}




.portadapelicula4{
    width: 100%;
}
.portadapelicula4:hover{
    filter: saturate(180%);
    filter: opacity(.5);
    transition:all .5s ease-in-out;

}


.portadapelicula5{
    width: 100%;
}
.portadapelicula5:hover{
    filter: saturate(180%);
    filter: opacity(.5);
    transition:all .5s ease-in-out;
}





.portadapelicula6{
    width: 100%;
}
.portadapelicula6:hover{
    filter: saturate(180%);
    filter: opacity(.5);
    transition:all .5s ease-in-out;

}



.navBar{
    display: grid;
    font-size: 25px;
}

.navBar li:hover{
    cursor: pointer;
    color: rgb(117, 114, 114);
}

.navBar ul{
    list-style: none; 
}

.navBar li{
    display: inline; 
     float: right;
}

.navBar a {
    text-decoration: none;
}